GITHUB_ID= '<Github ID>'
GITHUB_SECRET= '<Github Secret>'

GOOGLE_CLIENT_ID=<GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<GOOGLE CLIENT SECRET>

MONGODB_URI=<MONGODB URI>

NEXT_PUBLIC_URL=<YOUR_NEXT_PUBLIC_URL> # eg:-http://localhost:3000
NEXTAUTH_URL=<YOUR_NEXTAUTH_URL> # eg:-http://localhost:3000
NEXTAUTH_SECRET=secret




